doctype html
html
  head
    title= "An error ocurred while processing your request!"
  body
    h1= "Here's what we know: "
    br
    p= "Error Message: [" + error.status + "] " + error.message
    h2= "Stack Trace: "
    pre #{error.stack}
